*{
  padding: 0px;
  margin: 0px;
}
body{
  font-family: serif;
  font-size: 14px;
  line-height: 24px;
  height: 1800px;
}
h1, h2, h3, h4, h5, h6{
font-family: sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.green{
  width: 700px;
  height: 400px;
  background-color: green;
  position: relative;
  
}
.red{
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color: red;
  position: absolute;
  transform: translate( 250px, 120px);

}
.fb{
  width: 150px;
  position: fixed;
  top: 40%;
  right: -100px;
  transition: 1s;
}
.fb:hover{
 right: 4px;
 cursor: pointer;
}
.youtube{
  width: 150px;
  position: fixed;
  top: 50%;
  right: -100px;
  transition: 1s;
}
.youtube:hover{
  right: 4px;
  cursor: pointer;
}
.like-and-share{
  width: 150px;
  height: 70px;
  position: fixed;
  top: 28%;
  right: -100px;
  transition: 1s;
}
.like-and-share:hover{
  right: 4px;
  cursor: pointer;
}
.social-icons{
  width: 100%;
  display: block;
  text-align: center;
}
.social-icons li{
  list-style: none;
  display: inline-block;
}
.social-icons li a{
  display: block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 40px;
  text-align: center;
  background: blue;
  color: white;
  
  margin: 0px 15px;
  border-radius: 100%;
  transition: 1s;
}
.social-icons li a:hover{
  background: green;
  color: white;
}
.twitter-icons{
 width: 100%;
  display: block;
  text-align: center;
}
.twitter-icons li{
  list-style: none;
  display: inline-block;
}
.twitter-icons li a{
  display: block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 40px;
  text-align: center;
  background: rebeccapurple;
  color: white;
  margin: 15px 15px;
  border-radius: 100%;
  transition: 1s;
}
.twitter-icons li a:hover{
  background: rgb(95, 10, 11);
  color: white;
}







